<!DOCTYPE html>
<html>
    <head>
        <title>Students Performance System</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>Student Performance Analysis & Prediction System</h1>

       <div class="menu">
            <a href="/add-student">Add Student</a>
            <a href="/students">View Students</a>
            <a href="/analysis">Analysis</a>
            <a href="/prediction">Prediction</a>
        </div>

    </body>
</html>